/* reset */
html,body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
    color: #666;
}
ul,
li{
    margin:0;
    padding: 0;
    list-style: none;
}
/*common css*/
.clearfix::after{
    content: " ";
    display: block;
    clear: both;
}
/* header */
header{
    width: 100%;
    line-height: 56px;
    padding: 0 40px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
header .logo,
header .nav{
    float: left;
}
header .user-action{
    float: right;
}
header .logo{
    height: 56px;
    float: left;
    display: block;
}
header .logo img{
    height: 100%;
    vertical-align: top;
}

header .navbar{
    font-size: 16px;
    height: 100%;
}

@media (min-width:1200px){
    .navbar{
        margin-left: 130px;
    }
}

header .navbar>li{
    float: left;
    height: 56px;
}
header .navbar>li>a{
    padding: 0 20px;
    height: 100%;
    line-height: 55px;
    color: #333;
    display: block;
}
@media screen and (max-width: 1000px){
    .navbar>li>a>.iconfont{
        display: none;
    }
}
header .navbar>li:nth-child(1)>a{
    color: rgb(235, 114, 93);
}
header .navbar>li:hover{
    background: #eee;
}
header .navbar>li:first-child:hover,
.navbar>.search-area:hover{
    background: none;
}
header .navbar>.news{
    position: relative;
}
header .navbar>.news:hover .messages{
    display: block;
    z-index: 2;
}
header .navbar .messages{
    left: 0;
    top: 100%;
    margin-left: 2px;
    width: 200px;
    padding-top: 2px;
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    background: #fff;
    display: none;
}
header .messages>li>a{
    font-size: 14px;
    padding: 15px 18px;
    line-height: 20px;
    display: block;
    box-sizing: border-box;
}
header .messages .iconfont{
    color: rgb(235, 114, 93);
    margin-right: 18px;
}
header .messages li a:hover{
    background: #f0f0f0;
}
/* header search area */
header .search{
    position: relative;
    left: 20px;
}
header .search input{
    width: 160px;
    line-height: 40px;
    padding: 0 40px 0 20px;
    border-radius: 20px;
    margin-top: -4px;
    border: none;
    outline: none;
    background: #f0f0f0;
    vertical-align: middle;
    transition: 0.5s width;
}
header .icon-search{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    top: 50%;
    margin-top:-17px;
    right: 3px;
    line-height: 34px;
    color: #666;
    text-align: center;
    position: absolute;
}
header .pannel{
    position: absolute;
    background: #fff;
    color: #999;
    display: none;
    box-shadow: 0 1px 2px 3px #f0f0f0;
    width: 200px;
    margin-top: 1px;
    line-height: 1;
    padding: 25px;
}
header .search input:focus~.pannel,
.pannel:hover{
    display: block;
    z-index: 2;
}
header .search input:focus+.icon-search{
    background: #999;
    color: #fff;
}
header .search input:focus{
    width: 240px;
}
header .pannel::before{
    content: " ";
    display: block;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 25px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    box-shadow: -2px -2px 1px 0 #f0f0f0;
}
header .pannel h3{
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}
header .pannel .refresh{
    position: absolute;
    color: #999;
    top: 25px;
    right: 25px;
    font-size: 0.75rem;
}
header .pannel .refresh:hover{
    color: #666;
}
header .pannel .refresh span{
    font-size: 0.5rem;
}
header .pannel .lables{
    margin-top: 20px;
}
header .lables .lable{
    display: inline-block;
    border: 1px solid #ddd;
    color: #999;
    font-size: 0.75rem;
    margin-top: 5px;
    padding: 3px 10px;
    border-radius: 4px;
}
header .lables .lable:hover{
    border: 1px solid #ccc;
    color: #666;
}

/*header user-action*/
header .user-action>a,
header .user-action .user{
    display: inline-block;
}
.user-action .user-config{
    line-height: 1;
}
header .user-action .user{
    position: relative;
    padding: 0 25px;
}
header .user-action .icon-Aa{
    font-size: 20px;
    padding: 0 10px;
}
header .user-action .icon-down{
    font-size: 0.75rem;
    color: #999;
    line-height: 1;
}
header .user-action .avatar{
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
header .user-action .avatar img{
    width: 100%;
}
header .user-action .user:hover{
    background: #f0f0f0;
}
header .user-action .user:hover .user-select{
    display: block;
}
header .user-action .user .user-select{
    position: absolute;
    display: none;
    box-shadow: 0 1px 2px 3px #f0f0f0;
    padding-top: 2px;
    top: 100%;
    left: 0;
}
header .user-select a{
    display: block;
    box-sizing: border-box;
    color: #000;
    background: #fff;
    width: 150px;
    font-size: 14px;
    padding: 15px 18px;
    line-height: 20px;
}
header .user-select a:hover{
    background: #eee;
}
header .user-select .iconfont{
    color: rgb(234, 111, 90);
    font-size: 1.4rem;
    vertical-align: middle;
    margin-right: 15px;
}
header .user-action .btn-write{
    color: #fff;
    background: rgb(234, 111, 90);
    border-radius: 20px;
    padding: 0 20px;
    height: 40px;
    margin-left: 10px;
    line-height: 40px;
}

/*内容部分*/
.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    width: 960px;
    margin-top:30px;
}

section::after{
    content: " ";
    display: block;
    clear: both;
}
main{
    width: 630px;
}
aside{
    width: 280px;   
    margin-left: 50px;
}
main,
aside{
    float: left;
    box-sizing: border-box;
}
/*banner-area*/
.banner-area{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 10px;
}
.banner-area .banner{
    width: 1890px
}
.banner-area .banner li{
    float: left;
    width: 630px;
    height: 315px;
}
.banner-area .banner li>img{
    height: 100%;
    width: 100%;
}
.banner-area .change{
    opacity: 1;
}
/*arrow*/
.banner-area .arrow-left,
.banner-area .arrow-right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background: #666;
    font-size: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    opacity: 0.75;
    display: none;
}
.banner-area:hover .arrow-left,
.banner-area:hover .arrow-right{
    display: block;
}
.banner-area .arrow-left{
    left: 5px;
}
.banner-area .arrow-right{
    right: 5px;
}
/*dot*/
.banner-area .dot{
    position: absolute;
    width: 100%;
    height: 20px;
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 20px;
    display: none;
}
.banner-area:hover  .dot{
    display: block;
}
.banner-area .dot li{
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.75;
}

.banner-area .dot li>a{
    display: block;
    height: 100%;
}
/*hot-title*/
.hot-title{
    margin-bottom: 30px;
    margin-left: -10px;/*a链接里图片缝隙产生的原因*/
}
.hot-title>a{
    display: inline-block;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 20px;
    background: rgb(247, 247, 247);
    border: 1px solid #999;
    border-radius: 5px;
    height: 30px;
}
.hot-title>a:last-child{
    border: none;
    background: none;
}
.hot-title span{
    line-height: 30px;
    padding: 5px 10px;
}

.hot-title img{
    height: 100%;
    vertical-align: top;
}

/*articals*/
.article{
    border-top: 1px solid #eee;
    padding: 15px 0;
    position: relative;
}
.article-content{
    width: 460px;
}
.article>img{
    position: absolute;
    width: 150px;
    border-radius: 5px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
/*.article-author*/
.article-author img{
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}
.article-author .article-username{
    font-size: 0.75rem;
    margin-right: 5px;
}
.article-author .article-releasetime{
    font-size: 0.75rem;
    color: #999;
}
/*.article-title*/
.article-title{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    margin: 10px 0;
}
.article-title a{
    color: #333;
}
.article-title a:hover{
    text-decoration: underline;
}
.article-about{
    font-size: 14px;
    line-height: 1.5;
}
/*article-annotated-information*/
.article-annotated-information{
    font-family: "arial";
    font-size: 0.75rem;
}
.article-annotated-information .iconfont{
    margin-right: 3px;
    margin-left: 5px;
    vertical-align: middle;
}
.article-lable{
    color: rgb(234, 111, 90);
    padding: 2px 5px;
    border: 1px solid rgb(234, 111, 90);
    border-radius: 3px;
}
.article-lable:hover{
    background: rgb(255, 237, 233);
}
.article-lable~a{
    color: #999;
}
.article-view:hover,
.article-message:hover{
   color: #666; 
}
/*articles-more-area*/
.articles-more-area{
    border-top: 1px solid #eee;
    padding: 38px 0;
}
.articles-more{
    display: block;
    width: 100%;
    text-align: center;
    background: rgb(165,165,165);
    padding: 10px 0;
    border-radius: 25px;
    color: #fff;
}
/*extra-nav*/
.extra-nav{
    margin-top: -15px;
}
.extra-nav .cards{
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.extra-nav-newcharts{
    background-image: url(https://cdn2.jianshu.io/assets/web/banner-s-1-b8ff9ec59f72ea88ecc8c42956f41f78.png);
}
.cards:nth-child(2){
    background-image: url(https://cdn2.jianshu.io/assets/web/banner-s-3-7123fd94750759acf7eca05b871e9d17.png);
}
.cards:nth-child(3){
    background-image: url(https://cdn2.jianshu.io/assets/web/banner-s-4-b70da70d679593510ac93a172dfbaeaa.png);
}
.cards:nth-child(4){
    background-image: url(https://cdn2.jianshu.io/assets/web/banner-s-5-291e00e9156f30791fe24e3de9c39171.png);
}
.cards:nth-child(5){
    background-image: url(https://cdn2.jianshu.io/assets/web/banner-s-6-c4d6335bfd688f2ca1115b42b04c28a7.png);
}
/*download*/
.download{
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(240, 240, 240);
    margin-top: 15px;
    position: relative;
    padding: 10px 0 10px 20px;
    cursor: pointer;
}
.download img{
    width: 70px;
    vertical-align: top;
}
.download .download-state{
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}
.download-state h4{
    margin: 0;
    line-height: 1.2;
}
.download-state p{
    line-height: 1.2;
    font-size: 0.75rem;
    color: #999;
}
.download-action{
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 8px 18px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 118%;
    left: 30px;
    display: none;
}
.download:hover .download-action{
    display: block;
}
.download-action::after{
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background: #fff;
    bottom: -8px;
    left: 50%;
    margin-left: -7.5px;
    transform: rotate(45deg);
}
.download-action img{
    width: 180px;
}
/*recommend-authors*/
.recommend-authors{
    margin-top: 15px;
}
.recommend-authors-title{
    color: #999;
    font-family: "heiti";
    font-size: 14px;
    position: relative;
    padding: 15px 0;
}
.recommend-authors-title a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    color: #999;
}
.recommend-authors-lists .author{
    display: block;
    padding-left: 60px;
    position: relative;
    margin-top: 10px;
}
.recommend-authors-lists .recommend-authors-list{
    position: relative;
    margin: 20px 0;
}
.recommend-authors-lists a img{
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
.recommend-authors-declare h5{
    font-size: 16px;
    color: #000;
    margin: 0;
}
.recommend-authors-declare p{
    font-size: 0.75rem;
    color: #999;
}
.recommend-authors-follow{
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(90,195,86);
    font-size: 14px;
}
.recommend-authors-all{
    display: block;
    text-align: center;
    cursor: pointer;
    width: 100%;
    padding: 7px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    font-size: 13px;
    color: #666
}

/*footer*/
.nav-footer li{
    display: inline-block;
    font-size: 13px;
    color: #666;
}
footer p{
    font-size: 12px;
    color: #999;
}