@charset "utf-8";
#demo2{
    text-align: center;
}
#demo2>span{
    padding: 20px;
    font:24px/1.5 Arial,"微软雅黑";
    font-weight: bold;
    border-radius: 5px;
}
span:first-child{
    background: blue;
}
span:nth-child(2){
    background: yellow;
}
span:nth-child(3){
    background: orange;
}
span:nth-child(4){
    background: red;
}
span:nth-child(5){
    background: green;
}
