@charset "utf-8";
#demo2{
    text-align: center;
    margin-top: 50px;
    
}
#demo2>span{
    padding: 20px;
    font:24px/1.5 Arial,"微软雅黑";
    font-weight: bold;
    border-radius: 5px;
    margin:0 10px;
    cursor: pointer;
}
#demo2>span:hover{
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.623);
}
span:first-child{
    color: white;
    background: rgb(0, 255, 242);
}
span:nth-child(2){
    background: yellow;
}
span:nth-child(3){
    background: orange;
}
span:nth-child(4){
    color: white;
    background: red;
}
span:nth-child(5){
    color: white;
    background: green;
}
/* 来写第三个demo */
#demo3{
    font-family: Arial, Helvetica, sans-serif;
}
#demo3 table{
    margin: 0 auto; 
    margin-top: 50px;
    width: 600px;
    border-spacing: 0;
    text-align: left;
    text-transform: capitalize;
}
#demo3 td,#demo3 th{
    padding: 8px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
#demo3 table tr:nth-child(2n){
    background: rgb(219, 219, 219);
}
#demo3 table:first-child{
    border: 1px solid rgb(221, 221, 221);
    border-bottom: none;
}
#demo3 table:first-child tr:first-child{
    background: rgb(99, 184, 99);
    color: aliceblue;
}